body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    position: absolute;
    z-index: -1;
    background-color: #f0f0f0;
    user-select: none;
    touch-action: none;
}
.control_bar {
    padding: 8px;
}
.control_bar button {
    margin: 0 4px;
}
.bottom_bar {
    position: absolute;
    bottom: 0;
}
/* Large input elements */
button, input, select {
    padding: 8px;
}