body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.main_canvas {
    background-color: transparent;
    user-select: none;
    touch-action: none;
    min-width: 0;
    min-height: 0;
    position: absolute;
}
.control_bar {
    background: transparent;
    padding: 8px;
    /*box-shadow: 0px 0px 10px rgba(0,0,0,0.5);*/
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.control_bar button {
    margin: 0 4px;
}
.bottom_bar {
    bottom: 0;
}
.fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
}
.flex {
    display: flex;
}
.vflex {
    display: flex;
    flex-direction: column;
}
.flex_fill {
    flex: 1;
}
.resizable {
    resize: horizontal;
    overflow-x: hidden;
}
.toolbox {
    width: 300px;
    height: 100%;
    background-color: ghostwhite;
    border-left: 1px solid rgba(0,0,0,0.1);
    direction: rtl; /* hack to move resizable to the left */
}
.toolbox * {
    direction: ltr;
}
.toolbox p {
    margin: 10px;
}
.placeholder {
    font-style: italic;
}

/* Large input elements */
button,
input,
select {
    padding: 8px;
}

.toolbox canvas {
    background: rgba(0,0,0,0.05);
}

.canvas_container {
    overflow: hidden;
}

.toolbox .canvas_container {
    aspect-ratio: 1;
}
